<footer class="app-footer">
    <div class="footer-grid">

        <div class="footer-brand">
            <div class="footer-logo">Runews</div>
            <p>@L["Footer_Description"]</p>
        </div>

        <div>
            <div class="footer-col-title">@L["Footer_Company"]</div>
            <div class="footer-links">
                <a href="/about">@L["Footer_About"]</a>
            </div>
        </div>

        <div>
            <div class="footer-col-title">@L["Footer_Social"]</div>
            <div class="footer-socials">
                <a href="https://max.ru/" target="_blank" class="social-btn" title="Max">
                    <img src="max-messenger.png" alt="MaxIcon" style="width: 25px; height: 25px">
                </a>
                <a href="https://t.me/Aleksandr_Evimov" target="_blank" class="social-btn" title="Telegram">
                    <img src="telegram.png" alt="TelegramIcon" style="width: 25px; height: 25px">
                </a>
                <a href="https://vk.com/" target="_blank" class="social-btn" title="VK">
                    <img src="vk.png" alt="VK" style="width: 25px; height: 25px">
                </a>
            </div>
        </div>

    </div>

    <div class="footer-bottom">
        <span>@L["Footer_Copyright", DateTime.Now.Year]</span>
        <div style="display:flex;gap:20px;">
            <a href="/terms">@L["Footer_Terms"]</a>
        </div>
    </div>
    <div class="footer-edu">
        @L["Footer_Edu"]
    </div>
</footer>

@code {
}
